<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="width:500px;">
    <div class="modal-content" style=" margin-top: 150px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center">Are you sure you want to logout</h4>
          </div>
          <div class="modal-body">
           <form method='POST' action="{% url 'account_logout' %}" enctype='multipart/form-data' role="form">{% csrf_token %}
           <button class='btn btn-block btn-danger' type="submit">Sign Out</button>
           </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>