{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<br/><br/><br/>

<div class="row">
<div class="col-sm-12">
    <h4 class="">CONTACT DETAIL</h4><hr/>
        {% if object.photo %}
        <div class="row">
            <img id="img" class="img-responsive thumbnail" src="{{ object.photo.url }}"/>
        </div>
        {% else %}
        <div class="row">
            <img src="{% static 'img/dummy.png' %}" class="img-responsive thumbnail">
         </div>
        {% endif %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>PHONE</th>
                    <th>EMAIL</th>
                    <th>HOUSE NO/NAME</th>
                    <th>STREET</th>
                    <th>CITY</th>
                    <th>STATE</th>
                    <th>Update?</th>
                    <th>Delete?</th>
                </tr>
            </thead>
            <tr>
                 <td>
                 {{ object.first_name }} {{ object.last_name }}
                </td>
                 <td>
                  {{ object.phone }}
                </td>
                 <td>
                  {{ object.email }}
                </td>
                <td>
                  {{ object.house }}
                </td>
                     <td>
                  {{ object.street }}
                </td>
                     <td>
                  {{ object.city }}
                </td>
                <td>
                  {{ object.state }}
                </td>
                <td>
                <a href="{% url 'contact_edit' object.pk %}" class="btn btn-info">
                    <span class="glyphicon glyphicon-off" area-hidden="true"></span>
                </a>
                </td>
                <td>
                <a href="{% url 'contact_delete' object.pk %}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-off" area-hidden="true"></span>
                </a>
                </td>
            </tr>
        </table>
    </div>
</div>

</div>

{% endblock %}