{% extends 'base.html' %}
{% block content %}
<br/><br/><br/>

<div class="row">
<div class="col-sm-12">
    <h4 class="text-center">INTERACTION LIST</h4>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>PARTICIPANTS</th>
                    <th>NOTES</th>
                    <th>DATE</th>

                </tr>
            </thead>
       {% for item in object_list %}
            <tr>
                 <td>
                  {{ forloop.counter }}) <a href="{% url 'meeting_detail' item.pk %}">{{ item.participant }}</a>
                </td>
                 <td>
                  {{ item.notes }}
                </td>
                <td>
                  {{ item.meeting_date }}
                </td>

            </tr>

       {% endfor %}
        </table>
    </div>
    <hr/>
    <a href="{% url 'meeting_create' %}" class="btn btn-primary">Add New</a>


    <hr/>
</div>

</div>

 <div class="row">
    <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>
            {% if object_list.has_next %}
                <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            {% endif %}
        </span>
    </div>
 </div>
{% endblock %}